[Desktop Entry]
Name=Jigsaw
Comment=Get the big picture
Exec=jigsawpuzzle.gcw
Terminal=false
Type=Application
StartupNotify=true
Icon=jigsawpuzzle
Categories=games;
